@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
.category {
  margin: 90px auto;
  max-width: 1180px;
}

.category__title {
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 30px;
}

.category__things {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px;
}

.category__img:first-child {
  background-color: #DBE4DB;
  padding: 46px 18px;
}

.category__img:nth-child(2) {
  background-color: #EADDD3;
  padding: 13px 36px;
}

.category__img:nth-child(4) {
  background-color: #D5D4E1;
  padding: 10px 20px;
}

.category__foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category__buttton {
  background-color: rgba(112, 187, 220, 0.2);
  margin-right: 20px;
}

.category__text {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  max-width: 580px;
}
