@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
.header {
  max-width: 1177px;
  margin: 50px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__title {
  font-family: Montserrat;
  font-size: 52px;
  text-transform: uppercase;
  color: #000;
}

.header__main {
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 210px;
}

.header__main-l {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  color: #000;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__search-button {
  background: transparent;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 23px;
  font-family: Open Sans;
  color: #000;
}

placeholder {
  color: #000;
}

.style {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.titstyle {
  color: #AAAAAA;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
}

.footer {
  margin-top: 155px;
  background-color: #434343;
}

.footer__container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 100px 0px;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__navigator-title {
  margin-bottom: 23px;
}

.footer__navigator-title::after {
  content: " ";
  display: block;
  width: 380px;
  height: 1px;
  background: #666666;
  margin-top: 23px;
}

.footer__navigator-item {
  margin-bottom: 15px;
}

.footer__information-title {
  margin-bottom: 23px;
}

.footer__information-title::after {
  content: " ";
  display: block;
  width: 380px;
  height: 1px;
  background: #666666;
  margin-top: 23px;
}

.footer__information-item {
  margin-bottom: 15px;
}

.footer__connect-title {
  margin-bottom: 23px;
}

.footer__connect-title::after {
  content: " ";
  display: block;
  width: 380px;
  height: 1px;
  background: #666666;
  margin-top: 23px;
}

.footer__connect-email {
  background-color: #666666;
  width: 299px;
  height: 40px;
  padding: 9px 0px 9px 15px;
  color: #EBEBEB;
}

.footer__connect-button {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #000000;
  padding: 9px 22px;
}

.footer__finish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.billboard {
  background-color: #EEE4DB;
  max-width: 1180px;
  margin: 129px auto 0 auto;
}

.billboard__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.billboard__number {
  margin-left: 28px;
  margin-right: 44px;
}

.billboard__numtitle {
  margin: 17px 0px;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 300;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
}

.billboard__strips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.billboard__buttons {
  width: 31px;
  height: 3px;
  background-color: #D6CAC2;
}

.billboard__buttons:nth-child(2) {
  margin: 11px 0px;
}

.billboard__buttons:nth-child(3) {
  margin-bottom: 11px;
}

.billboard__buttons:hover {
  background-color: rgba(30, 6, 6, 0.6);
}

.billboard__collection {
  max-width: 307px;
  margin-top: 75px;
  margin-bottom: 89px;
}

.billboard__title {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
}

.billboard__subtitle {
  font-family: Crimson Text;
  font-size: 20px;
  font-style: italic;
  line-height: 25px;
  margin-bottom: 20px;
}

.billboard__button {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000;
  padding: 9px 22px;
}

.billboard__image {
  position: absolute;
  width: 635.49px;
  height: 461px;
  left: 580px;
  top: 160px;
}

.billboard__foot {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  background-color: #C29974;
  padding: 11px 0px;
}

.category {
  margin: 90px auto;
  max-width: 1180px;
}

.category__title {
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 30px;
}

.category__things {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px;
}

.category__img:first-child {
  background-color: #DBE4DB;
  padding: 46px 18px;
}

.category__img:nth-child(2) {
  background-color: #EADDD3;
  padding: 13px 36px;
}

.category__img:nth-child(4) {
  background-color: #D5D4E1;
  padding: 10px 20px;
}

.category__foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category__buttton {
  background-color: rgba(112, 187, 220, 0.2);
  margin-right: 20px;
}

.category__text {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  max-width: 580px;
}

.delivery {
  margin: 116px auto;
  max-width: 1180px;
}

.delivery__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 91px;
}

.delivery__photo {
  margin-right: 120px;
}

.delivery__title {
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
}

.delivery__subtitle {
  font-family: Crimson Text;
  font-size: 26px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
}

.delivery__subtitle:hover {
  padding: 11px 60px 11px 180px;
  background-color: rgba(112, 187, 220, 0.2);
}

.delivery__guarantee {
  font-family: Crimson Text;
  font-size: 26px;
  font-style: italic;
  line-height: 32px;
  margin: 22px 0px;
}

.delivery__credit {
  font-family: Crimson Text;
  font-size: 26px;
  font-style: italic;
  line-height: 32px;
  margin-bottom: 22px;
}

.delivery__text {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
  max-width: 480px;
}

.delivery__button {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  padding: 9px 22px;
  color: white;
  background-color: black;
}

.delivery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design {
  max-width: 1180px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design__about {
  background: #E1F0F7;
  max-width: 483px;
  padding: 0px 30px;
  position: relative;
}

.design__title {
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  position: absolute;
  top: -26px;
}

.design__subtitle {
  font-family: Crimson Text;
  font-size: 26px;
  font-style: italic;
  line-height: 32px;
  margin: 31px 0px 10px 0px;
}

.design__text {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
}

.design__button {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding: 9px 20px;
  background-color: black;
  color: white;
}

.design__contacts {
  background: #E1F0F7;
  position: relative;
  width: 483px;
  padding: 0px 30px;
  margin-right: 37px;
  max-height: 228px;
}

.design__contacts-title {
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  position: absolute;
  top: -26px;
}

.design__contacts-text {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  margin: 41px 0px 20px 0px;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
