@keyframes one-car {
	from {
		left: 0;
	}

	to {
		left: 100px;
	}
}

@keyframes two-car {
	from {
		left: 382px;
	}

	to {
		left: 462px;
	}
}

@keyframes three-car {
	from {
		left: 687px;
	}

	to {
		left: 1126px;
	}
}

@keyframes four-car {
	from {
		left: 1243px;
	}

	to {
		left: 1300px;
	}
}

@keyframes female {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes car {
	0% {
		left: 1400px;
	}

	100% {
		left: -1000px;
	}
}

@keyframes male {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}




.wrapper {
	overflow: hidden;
	&__block {
		margin: 60px auto;
		max-width: 1180px;
	}
	&__title {
		font-family: Montserrat;
		font-size: 40px;
		font-weight: 700;
		line-height: 49px;
	}

	&__aside {
		display: flex;
		margin: 15px 0px 55px 0px;
		img {
			margin: 0px 20px;
		}
	}

	&__home {
		font-family: Crimson Text;
		font-size: 20px;
		font-style: italic;
		line-height: 25px;
		text-transform: capitalize;
		color: black;
		
		&:hover {
			opacity: 0.6;
		}
	}


	&__container {
		width: 100%;
		height: 768px;
		background: url(../../static/images/animation/Clouds.png) top no-repeat, url(../../static/images/animation/Others.png) bottom no-repeat;
	}

	&__cars {
		z-index: 0;
		position: relative;
		img {
			&:nth-child(1) {
				z-index: 0;
				position: absolute;
				height: 99px;
				width: 250px;
				top: 477px;
				left: -55px;
				animation-name: one-car;
				animation-duration: 2s;
				animation-iteration-count: infinite;
			}
			&:nth-child(2) {
				z-index: 0;
				position: absolute;
				height: 95px;
				width: 203px;
				top: 477px;
				left: 382px;
				animation-name: two-car;
				animation-duration: 2s;
				animation-iteration-count: infinite;
			}
			&:nth-child(3) {
				z-index: 0;
				position: absolute;
				height: 65px;
				width: 246px;
				top: 520px;
				left: 687px;
				animation-name: three-car;
				animation-duration: 2s;
				animation-iteration-count: infinite;

			}
			&:nth-child(4) {
				z-index: 0;
				position: absolute;
				height: 126px;
				width: 269px;
				top: 460px;
				left: 1243px;
				animation-name: four-car;
				animation-duration: 2s;
				animation-iteration-count: infinite;
			}
		}
	}

	&__list {
		position: relative;
	}
	&__item {
		&:nth-child(1) {
			position: absolute;
			top: 455px;
			left: 182px;
			z-index: 10;
			
			&::before {
				content: "Джеси, смотри, такси едет!";
				background: url(../../static/images/animation/Vector1.svg);
				display: block;
				width: 160px;
				height: 99px;
				position: absolute;
				top: -100px;
				right: 25px;
				padding: 17px;
				font-family: Open Sans;
				font-size: 16px;
				line-height: 22px;
				animation-name: female;
				animation-delay: 0s;
				animation-duration: 2s;
				animation-fill-mode: forwards;
			}
		}
		&:nth-child(2) {
			position: absolute;
			top: 642px;
			left: 182px;
			z-index: 10;
		}
		&:nth-child(3) {
			position: absolute;
			top: 385px;
			left: 288px;
			z-index: 10;
			&::before {
				content: "Эй, такси, такси!";
				background: url(../../static/images/animation/Vector2.svg) no-repeat;
				display: block;
				width: 160px;
				height: 77px;
				position: absolute;
				top: -80px;
				right: 60px;
				padding: 17px;
				font-family: Open Sans;
				font-size: 16px;
				line-height: 22px;
				animation-name: female;
				animation-delay: 2s;
				animation-duration: 4s;
				animation-fill-mode: both;

			}
		}
		&:nth-child(4) {
			position: absolute;
			top: 170px;
			left: 1050px;
			z-index: 10;
		}
		&:nth-child(5) {
			position: absolute;
			top: 410px;
			left: 1400px;
			animation-name: car;
			animation-duration: 20s;
			animation-delay: 4s;
			&::before {
				content: "Я вообще-то не за вами!";
				background: url(../../static/images/animation/Vector1.svg);
				display: block;
				width: 160px;
				height: 99px;
				position: absolute;
				top: -45px;
				left: 310px;
				padding: 17px;
				font-family: Open Sans;
				font-size: 16px;
				line-height: 22px;
				animation-name: male;
				animation-duration: 4s;
				animation-delay: 7s;
				animation-fill-mode: both;
			}
			
}
	}
}

