<div class="delivery">
	<div class="delivery__section">
		<div class="delivery__photo">
			<img src="../../static/images/image1.jpg" alt="">
		</div>
		<div class="delivery__block">
			<h1 class="delivery__title">Delivery</h1>
			<h2 class="delivery__subtitle">Delivery</h2>
			<h3 class="delivery__guarantee">Guarantee</h3>
			<h4 class="delivery__credit">Credit</h4>
			<div class="delivery__text">Some days i feel like i've been working on dlk my entire life and there are other days that i am completely shocked that four years have flown by. It's simply magical.</div>
			<div class="delivery__text">What started as an outlet to deal  with the traumatic loss of my husband, dlk has now become a truly happy place for me and i have you and all of the beautiful designers that we work with to thank!</div>
			<button class="delivery__button">LEARN MORE</button>
		</div>
	</div>
	<ul class="delivery__list">
		<li class="delivery__item">
			<a href="#" class="delivery__link">
				<img src="../../static/images/mail.png" alt="">
			</a>
		</li>
		<li class="delivery__item">
			<a href="#" class="delivery__link">
				<img src="../../static/images/apple.png" alt="">
			</a>
		</li>
		<li class="delivery__item">
			<a href="#" class="delivery__link">
				<img src="../../static/images/eltex.png" alt="">
			</a>
		</li>
		<li class="delivery__item">
			<a href="#" class="delivery__link">
				<img src="../../static/images/owox.png" alt="">
			</a>
		</li>
	</ul>
</div>