<header class="header">
	<a href="/" class="header__title">dlk</a>
	<nav class="header-menu">
		<ul class="header-menu__list">
			<li class="header-menu__item">
				<a href="../../pages/blog/index.html" class="header-menu__link">blog</a>
			</li>
			<li class="header-menu__item">
				<a href="../../pages/catalog/index.html" class="header-menu__link">catalog</a>
			</li>
			<li class="header-menu__item">
				<a href="#" class="header-menu__link">about us</a>
			</li>
			<li class="header-menu__item">
				<a href="../../pages/grid/index.html" class="header-menu__link">grid</a>
			</li>
		</ul>
	</nav>
	<form action="#" class="header__search">
		<input class="header__search-text" type="text" placeholder="Search">
		<button class="header__search-button"><i class="fas fa-search"></i></button>
	</form>
	<a href="../../pages/cont/index.html" class="header__contact">contact us</a>
</header>
