<header class="header">
	<a href="../../components/header/index.html" class="header__title">dlk</a>
	<menu class="header__main">
		<a href="../../pages/blog/index.html" class="header__main-blog header__main-l">blog</a>
		<a href="../../pages/catalog/index.html" class="header__main-catalog header__main-l">catalog</a>
		<a href="#" class="header__main-aboutUs header__main-l">about us</a>
	</menu>
	<form action="#" class="header__search">
		<input class="header__search-text" type="text" name="" placeholder="Search">
		<button class="header__search-button" href="#"><i class="fas fa-search"></i></button>
	</form>
	<a href="../../pages/cont/index.html" class="header__contact">contact us</a>
</header>
<script src="https://kit.fontawesome.com/1608246916.js" crossorigin="anonymous"></script>