<header class="header">
	<a href="/" class="header__title">dlk</a>
	<nav class="header__main">
		<ul class="header__list">
			<li class="header__item">
				<a href="../../pages/blog/index.html" class="header__main-blog header__main-l">blog</a>
			</li>
			<li class="header__item">
				<a href="../../pages/catalog/index.html" class="header__main-catalog header__main-l">catalog</a>
			</li>
			<li class="header__item">
				<a href="#" class="header__main-aboutus header__main-l">about us</a>
			</li>
		</ul>
	</nav>
	<form action="#" class="header__search">
		<input class="header__search-text" type="text" placeholder="Search">
		<button class="header__search-button" href="#"><i class="fas fa-search"></i></button>
	</form>
	<a href="../../pages/cont/index.html" class="header__contact">contact us</a>
</header>
<script src="https://kit.fontawesome.com/1608246916.js" crossorigin="anonymous"></script>