<main class="billboard">
	<div class="billboard__head">
		<div class="billboard__number">
			<h2 class="billboard__numtitle">01</h2>
			<form action="#" class="billboard__strips">
				<button class="billboard__buttons"></button>
				<button class="billboard__buttons"></button>
				<button class="billboard__buttons"></button>
				<button class="billboard__buttons"></button>
			</form>
		</div>
		<div class="billboard__collection">
			<h1 class="billboard__title">THE OOH NOO COLLECTION</h1>
			<h3 class="billboard__subtitle">Designed in Slovenia</h3>
			<form action="#" class="billboard__form">
				<button class="billboard__button">EXPLORE NOW</button>
			</form>
		</div>
		<div class="billboard__image">
			<img src="../../static/images/image.png" alt="">
		</div>
		
	</div>
	<div class="billboard__foot">Free (continental) USA shipping on all orders of $100 USD or more!</div>
</main>