<footer class="footer">
	<div class="footer__container">
		<div class="footer-links">
			<div class="footer-links__item">
				<div class="footer-links__title">Navigator</div>
				<ul class="footer-links__list">
						<li class="footer-links__item">
							<a href="#" class="footer-links-list__link">About Us</a>
						</li>
						<li class="footer-links__item">
							<a href="#" class="footer-links-list__link">Blog</a>
						</li>
						<li class="footer-links__item">
							<a href="#" class="footer-links-list__link">Design Services</a>
						</li>
						<li class="footer-links__item">
							<a href="#" class="footer-links-list__link">Featured On</a>
						</li>
						<li class="footer-links__item">
							<a href="#" class="footer-links-list__link">2018 Holiday Catalog</a>
						</li>
						<li class="footer-links__item">
							<a href="#" class="footer-links-list__link">Shop By Designer</a>
						</li>
				</ul>
				<div class="footer-links__foot">
					<span>Company Rating</span>
					<div class="star-items">
						<form action="#" class="star-items__form">
							<input id="rating__5" type="radio" value="5" name="rating" class="star-items__item">
							<label class="star-items__label" for=""></label>
							<input id="rating__4" type="radio" value="4" name="rating" class="star-items__item">
							<label class="star-items__label" for=""></label>
							<input id="rating__3" type="radio" value="3" name="rating" class="star-items__item">
							<label class="star-items__label" for=""></label>
							<input id="rating__2" type="radio" value="2" name="rating" class="star-items__item">
							<label class="star-items__label" for=""></label>
							<input id="rating__1" type="radio" value="1" name="rating" class="star-items__item">
							<label class="star-items__label" for=""></label>
						</form>
				</div>
				</div>
				
			</div>
			<div class="footer-links__item">
				<div class="footer-links__title">Customer Information</div>
				<ul class="footer-links__list">
					<li class="footer-links__item">
						<a href="#" class="footer-links-list__link">Contact Us</a>
					</li>
					<li class="footer-links__item">
						<a href="#" class="footer-links-list__link">Sale Exclusions</a>
					</li>
					<li class="footer-links__item">
						<a href="#" class="footer-links-list__link">Shipping & Returns</a>
					</li>
					<li class="footer-links__item">
						<a href="#" class="footer-links-list__link">Terms & Conditions</a>
					</li>
					<li class="footer-links__item">
						<a href="#" class="footer-links-list__link">Privacy Policy</a>
					</li>
					<li class="footer-links__item">
						<a href="#" class="footer-links-list__link">Search</a>
					</li>
				</ul>
				<div class="footer-links__foot">Copyright © 2018 Dlk • Design Life Kids</div>
			</div>
				<div class="footer-links__item">
					<div class="footer-links__title">Connect</div>
					<form action="#" class="footer-links__form">
						<input type="email" class="footer-links__email" placeholder="Email">
						<button class="footer-links__button">Join</button>
					</form>
					<ul class="footer-links-social">
						<li class="footer-links-social__item">
							<a href="#" class="footer-links-social__link"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li class="footer-links-social__item">
							<a href="#" class="footer-links-social__link"><i class="fab fa-twitter"></i></a>
						</li>
						<li class="footer-links-social__item">
							<a href="#" class="footer-links-social__link"><i class="fab fa-pinterest"></i></a>
						</li>
						<li class="footer-links-social__item">
							<a href="#" class="footer-links-social__link"><i class="fab fa-instagram-square"></i></a>
						</li>
					</ul>
					<div class="footer-links__foot">
						<a href="#" class="footer-links__lnk">Web Design — Direct Line Development</a>
					</div>
				</div>
		</div>
	</div>
</footer>
