<div class="design">
	<div class="design__about">
		<div class="design__title">Design Life Kids</div>
		<div class="design__subtitle">About Us</div>
		<div class="design__text">Some days i feel like i've been working on dlk my entire life and there are other days that i am completely shocked that four years have flown by. It's simply magical.</div>
		<button class="design__button">buy now</button>
	</div>
	<div class="design__contacts">
		<div class="design__contacts-title">Contacts</div>
		<div class="design__contacts-text">Some days i feel like i've been working on dlk my entire life and there are other days that i am completely shocked that four years have flown by. It's simply magical.</div>
		<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/hayes_valley_inn/1260290437/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Hayes Valley Inn</a><a href="https://yandex.ru/maps/90/san-francisco/category/hotel/184106414/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Гостиница в Сан‑Франциско</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUeJBgUHC" width="493" height="196" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
	</div>
</div>